<% provide(:title, "Forgot password") %>
<div class="row justify-content-center">
  <div class="col-md-8">

    <div class="card">
      <div class="card-header">
        <h3 class="text-center">Forgot password</h3>
      </div>
      <div class="card-body">
        <%= form_for(:password_reset, url: password_resets_path) do |f| %>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control js-event-form-field', data: {event_form_field_value: 'forgot password - email'} %>
          </div>

          <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
