<h1>Account Activation | Look At My Cat</h1>

<p>Hello <%= @user.username %>,</p>

<p>
  Welcome to Look At My Cat! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_user_activation_url(token: @user.activation_token,
                                                    email: @user.email) %>
