<div class="js-social-share-container text-right col">
  <%= link_to '#', class: "js-facebook js-share-button", title: "Share on Facebook" do %>
    <%= icon('fab', 'facebook', class: 'fa-2x icon-unselected') %>
  <% end %>
  <%= link_to '#', class: "js-twitter js-share-button", title: "Share on Twitter" do %>
    <%= icon('fab', 'twitter', class: 'fa-2x icon-unselected') %>
  <% end %>

</div>